<!DOCTYPE html>
<html>
<head>
    <title>Agregar Camión</title>
</head>
<body>
    <h1>Agregar Camión</h1>

    <form method="POST">
        <label>Marca:</label><br>
        <input name="marca" required><br><br>

        <label>Modelo:</label><br>
        <input name="modelo" required><br><br>

        <label>Cilindros:</label><br>
        <input name="cilindros"><br><br>

        <label>Asientos:</label><br>
        <input name="asientos"><br><br>

        <label>Combustible:</label><br>
        <input name="combustible"><br><br>

        <label>Puertas:</label><br>
        <input name="puertas"><br><br>

        <label>Tonelaje:</label><br>
        <input name="tonelaje"><br><br>

        <label>Ejes:</label><br>
        <input name="ejes"><br><br>

        <button type="submit">Guardar Camión</button>
    </form>

    <br>
    <a href="/ver_camiones">Ver camiones</a>
</body>
</html>