<!DOCTYPE html>
<html>
<head>
    <title>Agregar Camión</title>
</head>
<body>
    <h1>Agregar Camión</h1>

    <form method="POST">
        <input name="marca" placeholder="Marca" required><br><br>
        <input name="modelo" placeholder="Modelo" required><br><br>
        <input name="anio" placeholder="Año" required><br><br>
        <input name="color" placeholder="Color" required><br><br>

        <button type="submit">Guardar</button>
    </form>

    <br>
    <a href="/">⬅ Volver</a>
</body>
</html>
